table.foursquare-venue-replacements,
table.foursquare-venue-replacements td,
table.foursquare-venue-replacements th {
	border-collapse: collapse;
	border: 1px solid #e1e1e1;
	font-size: 12px;
}

table.foursquare-venue-replacements td,
table.foursquare-venue-replacements th {
	vertical-align: text-top;
	text-align: left;
	padding: 5px 10px;
}

table.foursquare-venue-replacements thead td,
table.foursquare-venue-replacements thead th {
	background: #f0f0f0;
	font-weight: bold;
}

.foursquare-venue-template-preview-table {
	margin-top: 10px;
}

.foursquare-venue-template-preview-table,
.foursquare-venue-template-preview-table td,
.foursquare-venue-template-preview-table th {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.foursquare-venue-template-preview-table td,
.foursquare-venue-template-preview-table th {
	vertical-align: text-top;
	text-align: left;
	padding: 12px 20px;
}

.foursquare-venue-template-preview-table th {
	background: #e4e4e4;
}

.foursquare-venue-template-preview-table td {
	background: #fff;
}